.background-image-sidebar {
    background-image: url("../images/vector/sidebar.png");
}

.background-image-brown-mountains {
    background-image: url("../images/photo/brown-mountains.jpg");
}

.background-image-green-mountains {
    background-image: url("../images/photo/green-mountains.jpg");
}

.background-image-caruosel-tree {
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.7)), url("../images/photo/tree.jpg");
}

.background-image-caruosel-chamomile {
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.7)), url("../images/photo/chamomile.jpg");
}